<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'includes/home/head_site.html' %}
</head>

<body class="contact-page">

  <!-- Topbar -->
  <div class="topbar bg-light py-2 border-bottom fixed-top">
    {% include 'includes/home/info.html' %}
  </div>

  <header id="header" class="header d-flex align-items-center fixed-top">
    {% include 'includes/home/header_site.html' %}
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Contact</h1>
        <p>Une question, un projet, une collaboration ? Parlons-en — nous sommes à votre écoute.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('home_blueprint.home') }}">Acceuil</a></li>
            <li class="current">Contact</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Adresse</h3>
                  <p>104, Avenue Adoula, Lubumbashi RD.Congo</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Contactez-nous</h3>
                  <p>
                    <a href="tel:+243977252655" rel="noopener">
                      +243 977 252 655
                    </a>
                  </p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email</h3>
                  <p>
                    <a href="mailto:contact@connectme-pro.com" rel="noopener">
                      contact@connectme-pro.com
                    </a>
                  </p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <!-- modify this form HTML and place wherever you want your form -->

          <div class="col-lg-6">
            <form action="https://formspree.io/f/xkgyjvda" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Votre Nom" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Votre Email" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Chargement</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Votre message a été envoyé. Merci!</div>

                  <button type="submit">Envoyer</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

      <div class="mt-5" data-aos="fade-up" data-aos-delay="200">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1085.458406159479!2d27.4781742528616!3d-11.668560852017539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19723f92a2d1ef89%3A0xec7f7ded2dc35e7b!2sConnectMe%20Sarl!5e1!3m2!1sfr!2scd!4v1757938694490!5m2!1sfr!2scd" width="1800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    {% include 'includes/home/footer_site.html' %}
  </footer>

  {% include 'includes/home/script_site.html' %}

</body>

</html>