<footer class="footer py-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-8 mb-4 mx-auto text-center">
                {% if current_user %}
                    <a href="{{ url_for('home_blueprint.document') }}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        En savoir plus
                    </a>
                    <a href="{{ url_for('home_blueprint.home') }}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Nous découvrir
                    </a>
                {% else %}
                    <a href="{{ url_for('home_blueprint.aide') }}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        En savoir plus
                    </a>
                    <a href="{{ url_for('home_blueprint.site') }}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Nous découvrir
                    </a>
                {% endif %}
            </div>

            <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-dribbble"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-twitter"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-instagram"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-pinterest"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-github"></span>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                Copyright © 
                <script>
                    document.write(new Date().getFullYear())
                </script><a href="mailto:chrinovicnyembo009@gmail.com" rel="noopener">Chrinovic Nyembo.</a> 
                </p>
            </div>
        </div>

    </div>
</footer>