<div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="container position-relative">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2>ConnectMe, un monde mieux connecté</h2>
                <p>
                    De l’impression au digital, nous valorisons votre image.
                    Du réseau à la sécurité, nous renforçons vos activités.
                    Un seul partenaire, toutes vos solutions.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>ConnectMe, l’impact qui transforme vos affaires</h2>
                <p>
                    Nous créons des visuels qui marquent et restent en mémoire.
                    Nous intégrons des technologies qui sécurisent et font gagner du temps.
                    Avec ConnectMe, chaque détail devient un avantage compétitif.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>ConnectMe, l’excellence visuelle et technologique</h2>
                <p>
                    Nous propulsons votre marque avec des créations puissantes et modernes.
                    Nous optimisons vos performances grâce à des solutions digitales fiables.
                    Avec ConnectMe, votre succès devient notre mission.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </div>

</div>