<div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="container position-relative">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2>Levier stratégique pour amplifier votre impact</h2>
                <p>
                    Cette vitrine bien conçu renforce votre présence physique en professionnalisant votre image, en 
                    clarifiant votre offre et en facilitant la conversion client. Il agit comme un point 
                    d’ancrage digital qui crédibilise vos opérations sur le terrain et optimise votre acquisition commerciale.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>Catalyseur de performance commerciale</h2>
                <p>
                    Cette vitrine bien structuré agit comme un levier d’influence dans le monde physique :
                    il crédibilise vos équipes face aux clients, renforce la cohérence de votre discours 
                    commercial et facilite la conversion en rendez-vous ou en contrat. C’est un outil de confiance 
                    qui prépare le terrain avant même que vos commerciaux ne le foulent.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>Accélérateur de croissance et d’influence</h2> 
                <p>
                    Cette vitrine n’est pas un simple support digital : 
                    c’est un outil d’activation commerciale. Il renforce la légitimité de vos équipes 
                    sur le terrain, fluidifie le parcours client et transforme chaque interaction physique 
                    en opportunité mesurable. C’est un levier de croissance qui travaille pour vous, même hors ligne.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </div>

</div>