<div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="container position-relative">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2>Innovation</h2>
                <p>
                    Proposer des solutions technologiques modernes et efficaces.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>Engagement</h2>
                <p>
                    Prioriser la satisfaction client par un service rapide et fiable.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>Intégrité</h2> 
                <p>
                    Respecter les normes éthiques et professionnelles.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <div class="carousel-container">
                <h2>Partenariat</h2> 
                <p>
                    Construire des relations durables avec nos clients et partenaires.
                </p>
                <a href="#about" class="btn-get-started">Lire Plus</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </div>

</div>