<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'includes/auth/head-auth.html' %}
</head>

<body class="g-sidenav-show bg-gray-100">
    {% include 'includes/admin/aside-home.html' %}

  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">

    <!-- Navbar -->
    {% include 'includes/admin/nav-home.html' %}
    <!-- End Navbar -->

    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image:url('{{ url_for('static', filename='assets/img/curved-images/curved0.jpg')}}')"; background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>

      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">

          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
                <img src="{{ compuny.image }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          
          <div class="col-auto my-auto">
            {% if current_user.id != compuny.id %}
              <div class="h-100">
                <h5 class="mb-1">
                  {{ current_user.username }}
                </h5>
                <p class="mb-0 font-weight-bold text-sm">
                  Client
                </p>
              </div>
            {% else %}
              <div class="h-100">
                <h5 class="mb-1">
                  {{ compuny.username }}
                </h5>
                <p class="mb-0 font-weight-bold text-sm">
                  {{ compuny.position }}
                </p>
              </div>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>

    <div class="container-fluid py-4">
      <div class="row">

        <div class="col-12 col-xl-4">
          <div class="card h-100">

            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Nouveau Blog</h6>
                </div>
                <div class="col-md-4 text-end">
                  <a href="javascript:;">
                    <i class="fas fa-image text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter un blog"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body p-3">
                <form method="POST" action="{{ url_for('home_blueprint.new_post') }}" enctype="multipart/form-data">
                    {{ form_blog.hidden_tag()|replace('id="csrf_token"', 'id="blog_csrf_token"')|safe }}

                    <div class="row mb-3">
                        <label for="name" class="col-md-4 col-lg-4 col-form-label">Tag</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_blog.category(id="blog_category", class="form-control") }}
                        </div>
                    </div>
            
                    <!-- Nom de la photo -->
                    <div class="row mb-3">
                        <label for="name" class="col-md-4 col-lg-4 col-form-label">Titre</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_blog.title(id="blog_title", class="form-control") }}
                        </div>
                    </div>
                
                    <!-- Description de la photo -->
                    <div class="row mb-3">
                        <label for="description" class="col-md-4 col-lg-4 col-form-label">Message</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_blog.content(id="blog_content", class="form-control") }}
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="row mb-3">
                        <label for="image" class="col-md-4 col-lg-4 col-form-label">Image</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_blog.image(id="blog_image", class="form-control") }}
                        </div>
                    </div>
                
                    <!-- Bouton de soumission -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary save-btn">Poster</button>
                    </div>
                </form> 
            </div>

          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Ajouter une photo</h6>
            </div>
            <div class="card-body p-3">
              <form method="POST" action="{{ url_for('home_blueprint.new_gallerie') }}" enctype="multipart/form-data">
                {{ form_gallerie.hidden_tag()|replace('id="csrf_token"', 'id="gallerie_csrf_token"')|safe }}

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Catégorie</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_gallerie.category(id="gallerie_category", class="form-control") }}
                    </div>
                </div>
        
                <!-- Nom de la photo -->
                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Titre</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_gallerie.title(id="gallerie_title", class="form-control") }}
                    </div>
                </div>
            
                <!-- Description de la photo -->
                <div class="row mb-3">
                    <label for="description" class="col-md-4 col-lg-4 col-form-label">Message</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_gallerie.description(id="gallerie_description", class="form-control") }}
                    </div>
                </div>

                <!-- photo -->
                <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-4 col-form-label">Image</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_gallerie.image(id="gallerie_image", class="form-control") }}
                    </div>
                </div>
            
                <!-- Bouton de soumission -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary save-btn">Ajouter</button>
                </div>
            </form> 
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Ajouter un client</h6>
            </div>
            <div class="card-body p-3">
              <form method="POST" action="{{ url_for('home_blueprint.new_client') }}" enctype="multipart/form-data">
                {{ form_client.hidden_tag()|replace('id="csrf_token"', 'id="client_csrf_token"')|safe }}

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Nom Client</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_client.name(id="client_name", class="form-control") }}
                    </div>
                </div>
        
                <!-- Nom de la photo -->
                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Lien Client</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_client.link(id="client_link", class="form-control") }}
                    </div>
                </div>

                <!-- photo -->
                <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-4 col-form-label">Logo</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_client.image(id="client_image", class="form-control") }}
                    </div>
                </div>
            
                <!-- Bouton de soumission -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary save-btn">Ajouter</button>
                </div>
            </form> 
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4" style="margin-top: 20px !important;">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Ajouter un membre</h6>
            </div>
            <div class="card-body p-3">
              <form method="POST" action="{{ url_for('home_blueprint.new_teamer') }}" enctype="multipart/form-data">
                {{ form_teamer.hidden_tag()|replace('id="csrf_token"', 'id="teamer_csrf_token"')|safe }}

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Nom Membre</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.name(id="teamer_name", class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Position</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.poste(id="teamer_poste", class="form-control") }}
                    </div>
                </div>
        
                <!-- Réseaux sociaux -->
                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Lien Facebook</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.facebook(id="teamer_facebook", class="form-control", value="https://web.facebook.com/") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Lien Instagram</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.insta(id="teamer_insta", class="form-control", value="https://www.instagram.com/") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Lien Linkedin</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.linked(id="teamer_linked", class="form-control", value="https://www.linkedin.com/") }}
                    </div>
                </div>

                <!-- photo -->
                <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-4 col-form-label">Photo Profile</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_teamer.image(id="teamer_image", class="form-control") }}
                    </div>
                </div>
            
                <!-- Bouton de soumission -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary save-btn">Ajouter</button>
                </div>
            </form> 
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Ajouter un projet</h6>
            </div>
            <div class="card-body p-3">
              <form method="POST" action="{{ url_for('home_blueprint.new_project') }}" enctype="multipart/form-data">
                {{ form_proj.hidden_tag()|replace('id="csrf_token"', 'id="projet_csrf_token"')|safe }}

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Nom Projet</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.name(id="projet_name", class="form-control") }}
                    </div>
                </div>
        
                <!-- Nom de la photo -->
                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Catégorie Projet</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.category(id="projet_cat", class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Client</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.client(id="projet_client", class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-4 col-form-label">Lien Projet</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.url(id="projet_url", class="form-control") }}
                    </div>
                </div>

                <!-- photo -->
                <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-4 col-form-label">Details Projet</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.details(id="projet_details", class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-4 col-form-label">Photo</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form_proj.image(id="projet_image", class="form-control") }}
                    </div>
                </div>
            
                <!-- Bouton de soumission -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary save-btn">Ajouter</button>
                </div>
            </form> 
            </div>
          </div>
        </div>

        <!-- Blog -->
        {% if myblog_post %}
            <div class="col-12 mt-4">
                <div class="card mb-4">

                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Gestion de blog</h6>
                        <p class="text-sm">Gérez votre blog en toute sécurité et intégrité !</p>
                    </div>

                    <div class="card-body p-3">
                        <div class="row">
                            {% for b in myblog_post %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card card-blog card-plain">
                                        <div class="position-relative">
                                            <a class="d-block shadow-xl border-radius-xl">
                                                <img src="{{ b.image }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                            </a>
                                        </div>

                                        <div class="card-body px-1 pb-0">
                                            <p class="text-gradient text-dark mb-2 text-sm">Blog #{{ b.id }}</p>

                                            <a href="javascript:;">
                                                <h5>
                                                {{ b.title }}
                                                </h5>
                                            </a>

                                            <p class="mb-4 text-sm">
                                                {{ b.content[:80] }}...
                                            </p>
                                            
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_blog', post_id=b.id) }}"
                                                        onsubmit="return confirm('Voulez-vous vraiment supprimer ce blog?');">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Supprimer</button>
                                                </form>
                                                <div class="avatar-group mt-2">
                                                    <span class="text-secondary" style="font-size: 11px !important;">{{ b.created_at | humanize_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if myblog_post|length > 4 %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="javascript:;">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Tout Voir </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="{{ url_for('admin_blueprint.visibilite') }}">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Nouveau Blog </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <!-- /Blog -->

        <!-- Photo -->
        {% if gallerie %}
            <div class="col-12 mt-4">
                <div class="card mb-4">

                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Gestion de gallerie</h6>
                        <p class="text-sm">Gérez votre gallerie en toute sécurité et intégrité !</p>
                    </div>

                    <div class="card-body p-3">
                        <div class="row">
                            {% for b in gallerie %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card card-blog card-plain">
                                        <div class="position-relative">
                                            <a class="d-block shadow-xl border-radius-xl">
                                                <img src="{{ b.image }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                            </a>
                                        </div>

                                        <div class="card-body px-1 pb-0">
                                            <p class="text-gradient text-dark mb-2 text-sm">Image #{{ b.id }}</p>

                                            <a href="javascript:;">
                                                <h5>
                                                {{ b.title }}
                                                </h5>
                                            </a>

                                            <p class="mb-4 text-sm">
                                                {{ b.description[:80] }}...
                                            </p>
                                            
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_image', post_id=b.id) }}"
                                                        onsubmit="return confirm('Voulez-vous vraiment supprimer cette image?');">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Supprimer</button>
                                                </form>
                                                <div class="avatar-group mt-2">
                                                    <span class="text-secondary" style="font-size: 11px !important;">{{ b.created_at | humanize_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if gallerie|length > 4 %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="javascript:;">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Voir toute les images</h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="{{ url_for('admin_blueprint.visibilite') }}">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Nouvelle Image </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <!-- /Photo -->

        <!-- Partenaires -->
        {% if partenaire %}
            <div class="col-12 mt-4">
                <div class="card mb-4">

                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Gestion de Client</h6>
                        <p class="text-sm">Gérez votre clientèle en toute sécurité et intégrité !</p>
                    </div>

                    <div class="card-body p-3">
                        <div class="row">
                            {% for b in partenaire %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card card-blog card-plain">
                                        <div class="position-relative">
                                            <a class="d-block shadow-xl border-radius-xl">
                                                <img src="{{ b.image }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                            </a>
                                        </div>

                                        <div class="card-body px-1 pb-0">
                                            <p class="text-gradient text-dark mb-2 text-sm">Client #{{ b.id }}</p>

                                            <a href="javascript:;">
                                                <h5>
                                                {{ b.name }}
                                                </h5>
                                            </a>

                                            <p class="mb-4 text-sm">
                                                <a href="{{ b.link }}">{{ b.link }}</a>
                                            </p>
                                            
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_client', post_id=b.id) }}"
                                                        onsubmit="return confirm('Voulez-vous vraiment supprimer ce client?');">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Supprimer</button>
                                                </form>
                                                <div class="avatar-group mt-2">
                                                    <span class="text-secondary" style="font-size: 11px !important;">{{ b.created_at | humanize_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if partenaire|length > 4 %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="javascript:;">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Voir tout les clients </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="{{ url_for('admin_blueprint.visibilite') }}">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Nouveau Client </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <!-- /Partenaires -->

        <!-- Équipes -->
        {% if teamer %}
            <div class="col-12 mt-4">
                <div class="card mb-4">

                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Gestion de l'équipe</h6>
                        <p class="text-sm">Gérez votre équipe en toute sécurité et intégrité !</p>
                    </div>

                    <div class="card-body p-3">
                        <div class="row">
                            {% for b in teamer %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card card-blog card-plain">
                                        <div class="position-relative">
                                            <a class="d-block shadow-xl border-radius-xl">
                                                <img src="{{ b.image }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                            </a>
                                        </div>

                                        <div class="card-body px-1 pb-0">
                                            <p class="text-gradient text-dark mb-2 text-sm">Membre #{{ b.id }}</p>

                                            <a href="javascript:;">
                                                <h5>
                                                {{ b.name }}
                                                </h5>
                                            </a>

                                            <p class="mb-4 text-sm"><a href="{{ b.facebook }}">{{ b.facebook }}</a></p>
                                            <p class="mb-4 text-sm"><a href="{{ b.insta }}">{{ b.insta }}</a></p>
                                            <p class="mb-4 text-sm"><a href="{{ b.linked }}">{{ b.linked }}</a></p>
                                            
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_team', post_id=b.id) }}"
                                                        onsubmit="return confirm('Voulez-vous vraiment supprimer ce membre?');">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Supprimer</button>
                                                </form>
                                                <div class="avatar-group mt-2">
                                                    <span class="text-secondary" style="font-size: 11px !important;">{{ b.created_at | humanize_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if teamer|length > 4 %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                            <a href="javascript:;">
                                                <i class="fa fa-plus text-secondary mb-3"></i>
                                                <h5 class=" text-secondary"> Voir toute l'équipe </h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                            <a href="{{ url_for('admin_blueprint.visibilite') }}">
                                                <i class="fa fa-plus text-secondary mb-3"></i>
                                                <h5 class=" text-secondary"> Nouveau Membre </h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <!-- /Partenaires -->

        <!-- Équipes -->
        {% if projet %}
            <div class="col-12 mt-4">
                <div class="card mb-4">

                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Gestion de lprojet</h6>
                        <p class="text-sm">Gérez vos projets en toute sécurité et intégrité !</p>
                    </div>

                    <div class="card-body p-3">
                        <div class="row">
                            {% for b in projet %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card card-blog card-plain">
                                        <div class="position-relative">
                                            <a class="d-block shadow-xl border-radius-xl">
                                                <img src="{{ b.image }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                            </a>
                                        </div>

                                        <div class="card-body px-1 pb-0">
                                            <p class="text-gradient text-dark mb-2 text-sm">Projet #{{ b.id }}</p>

                                            <a href="javascript:;">
                                                <h5>
                                                {{ b.name }}
                                                </h5>
                                            </a>

                                            <p class="mb-4 text-sm">{{ b.details }}</p>
                                            
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_projet', post_id=b.id) }}"
                                                        onsubmit="return confirm('Voulez-vous vraiment supprimer ce membre?');">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Supprimer</button>
                                                </form>
                                                <div class="avatar-group mt-2">
                                                    <span class="text-secondary" style="font-size: 11px !important;">{{ b.created_at | humanize_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if projet|length > 4 %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="javascript:;">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Voir tout les projets </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                    <div class="card h-100 card-plain border">
                                        <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <a href="{{ url_for('admin_blueprint.visibilite') }}">
                                            <i class="fa fa-plus text-secondary mb-3"></i>
                                            <h5 class=" text-secondary"> Nouveau Projet </h5>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <!-- /Partenaires -->

      </div>

      {% include 'includes/admin/footer-home.html' %} 
    </div>

  </div>

  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" href="{{ url_for('home_blueprint.home') }}">
      <i class="fa-solid fa-robot py-2"> </i>
    </a>
  </div>

  <!--   Core JS Files   -->
  {% include 'includes/auth/script-auth.html' %}
</body>

</html>